.gallery 
    .gallery__container
        .section__title(data-aos="fade-up" data-aos-duration="1000")  INSTAGRAM
        .section__subtitle(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")  Следите за #chinorkentuz в Instagram

        #my_nanogallery2.gallery__list(data-aos="fade-up" data-aos-duration="1000")
            a(href="static/images/content/gallery-1.jpg" data-ngthumb="static/images/content/gallery-1.jpg" ).gallery__item 
            a(href="static/images/content/gallery-2.jpg" data-ngthumb="static/images/content/gallery-2.jpg").gallery__item 
            a(href="static/images/content/gallery-3.jpg" data-ngthumb="static/images/content/gallery-3.jpg").gallery__item 
            a(href="static/images/content/gallery-4.jpg" data-ngthumb="static/images/content/gallery-4.jpg").gallery__item 
            a(href="static/images/content/gallery-5.jpg" data-ngthumb="static/images/content/gallery-5.jpg").gallery__item 
            a(href="static/images/content/gallery-6.jpg" data-ngthumb="static/images/content/gallery-6.jpg").gallery__item 
            a(href="static/images/content/gallery-7.jpg" data-ngthumb="static/images/content/gallery-7.jpg").gallery__item 
            a(href="static/images/content/gallery-8.jpg" data-ngthumb="static/images/content/gallery-8.jpg").gallery__item 
            a(href="static/images/content/gallery-9.jpg" data-ngthumb="static/images/content/gallery-9.jpg").gallery__item 

