extends ../template/main
include ../modules/news/newsItem
block variables
    - var title = 'News'

block content
    .intro__small
        .intro__small__container.container
            .intro__body 
                .title(data-aos="fade-up" data-aos-duration="1000") Новости
                .icon(data-aos="fade-up" data-aos-duration="1000") 
                    svg( viewBox="0 0 229.527 187.408" width="230" fill="#fff")
                        use(xlink:href="static/images/svg/symbol/sprite.svg#intro_logo")

    .news 
        .container.news__container
            include ../modules/news/newsTitle
            .row
                +newsItem('static/images/content/news-01.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '100')
                +newsItem('static/images/content/news-02.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '200')
                +newsItem('static/images/content/news-03.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '300')
                +newsItem('static/images/content/news-01.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '400')
                +newsItem('static/images/content/news-02.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '500')
                +newsItem('static/images/content/news-03.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '600')
                +newsItem('static/images/content/news-01.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '700')
                +newsItem('static/images/content/news-02.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '800')
                +newsItem('static/images/content/news-03.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '900')

            include ../../ui-kit/ui-pagination/ui-pagination
    include ../modules/banner/banner
