.banner 
    .container.banner__container
        .banner__title 
            .sub(data-aos="fade-up" data-aos-duration="1000") Лучший выбор
            .sup(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150") Лыжный туризм
        .banner__widget(data-aos="fade-left" data-aos-duration="1000")
            .weather-widget--extra.weather
                .weather__header
                    .top 
                        .time 14:24
                        .place Chinorkent
                        button.btn__size
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.033" height="18.461" viewBox="0 0 18.033 18.461">
                                <g id="Сгруппировать_10718" data-name="Сгруппировать 10718" transform="translate(0 0)">
                                    <path id="Контур_15366" data-name="Контур 15366" d="M141.454,45.657H127.877V32.08h13.577ZM129.735,43.8H139.6V33.938h-9.861Z" transform="translate(-127.877 -27.196)" fill="#eaeaea"/>
                                    <path id="Контур_15367" data-name="Контур 15367" d="M142.641,44.353H129.064V30.779h13.577Zm-11.723-1.858h9.869V32.637h-9.869Z" transform="translate(-124.608 -30.779)" fill="#eaeaea"/>
                                </g>
                            </svg>

                        button.btn__close
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.311" height="15.311" viewBox="0 0 15.311 15.311">
                                <g id="Сгруппировать_10720" data-name="Сгруппировать 10720" transform="translate(0 0)">
                                    <rect id="Прямоугольник_13925" data-name="Прямоугольник 13925" width="19.435" height="2.215" transform="matrix(0.707, -0.707, 0.707, 0.707, 0.003, 13.745)" fill="#eaeaea"/>
                                    <rect id="Прямоугольник_13926" data-name="Прямоугольник 13926" width="2.216" height="19.436" transform="translate(0 1.567) rotate(-44.996)" fill="#eaeaea"/>
                                </g>
                            </svg>

                    .bottom 
                        .weekday  Вторник
                        .date 18 январь

                .weather__body
                    .top
                        .icon 
                            svg( viewBox="0 0 212.803 174.778" width="212" fill="white" )
                                use(xlink:href="static/images/svg/symbol/sprite.svg#weather")
                        .wind_info
                            .icon 
                                svg( viewBox="0 0 49.058 48.431" width="50" fill="white" )
                                    use(xlink:href="static/images/svg/symbol/sprite.svg#compass")
                            .info 
                                .speed 9-12 km/h
                                .pressure 740 mm 
                                .humidity
                                    <svg id="Сгруппировать_10693" data-name="Сгруппировать 10693" xmlns="http://www.w3.org/2000/svg" width="16.239" height="33.89" viewBox="0 0 16.239 33.89">
                                        <path id="Контур_15347" data-name="Контур 15347" d="M121.243,117.585c.589,3.829-2.245,7.095-5.011,7.095h-2.046c-2.766,0-5.608-3.269-5.007-7.095.781-4.959,6.092-18.42,6.092-18.42S120.477,112.637,121.243,117.585Z" transform="translate(-106.705 -99.165)" fill="#fff"/>
                                        <rect id="Прямоугольник_13923" data-name="Прямоугольник 13923" width="16.239" height="3.251" transform="translate(0 30.639)" fill="#fff"/>
                                        </svg>
                                    | 42%
                    .bottom 
                        .temperature 
                            .number 17&deg;С 	
                            .text partly cloudy
                        .temperature__range
                            .up 
                                .icon 
                                    svg( viewBox="0 0 16.974 49.101" height="50" fill="white" )
                                        use(xlink:href="static/images/svg/symbol/sprite.svg#himidity_down")
                                .val 15&deg;			
                            .down
                                .icon 
                                    svg( viewBox="0 0 16.974 49.101" height="50" fill="white" )
                                        use(xlink:href="static/images/svg/symbol/sprite.svg#himidity_up")
                                .val 22&deg;

                .weather__footer
                    .left 
                        .icon
                            svg( viewBox="0 0 70.383 70.383" height="70" fill="white" )
                                use(xlink:href="static/images/svg/symbol/sprite.svg#sun")
                        .time 
                            .sunrise <svg xmlns="http://www.w3.org/2000/svg" width="6.157" height="29.506" viewBox="0 0 6.157 29.506">
                                <path id="Контур_15503" data-name="Контур 15503" d="M58.113,161.076l-3.08,11.718h1.991v17.788H59.2V172.794H61.19Z" transform="translate(-55.033 -161.076)" fill="#fff"/>
                                </svg>
                                | 7:02 AM
                            .sunset 
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.157" height="29.5" viewBox="0 0 6.157 29.5">
                                <path id="Контур_15504" data-name="Контур 15504" d="M58.111,199.512,61.19,187.8H59.2V170.011H57.028V187.8H55.033Z" transform="translate(-55.033 -170.011)" fill="#fff"/>
                                </svg>
                                |6:09 AM
                    .right 
                        .icon
                            svg( viewBox="0 0 70.383 70.383" height="70" fill="white" )
                                use(xlink:href="static/images/svg/symbol/sprite.svg#moon")
                        .time 
                            .sunrise <svg xmlns="http://www.w3.org/2000/svg" width="6.157" height="29.506" viewBox="0 0 6.157 29.506">
                                <path id="Контур_15503" data-name="Контур 15503" d="M58.113,161.076l-3.08,11.718h1.991v17.788H59.2V172.794H61.19Z" transform="translate(-55.033 -161.076)" fill="#fff"/>
                                </svg>
                                | 7:02 AM
                            .sunset 
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.157" height="29.5" viewBox="0 0 6.157 29.5">
                                <path id="Контур_15504" data-name="Контур 15504" d="M58.111,199.512,61.19,187.8H59.2V170.011H57.028V187.8H55.033Z" transform="translate(-55.033 -170.011)" fill="#fff"/>
                                </svg>
                                |6:09 AM

        .banner__nav 
            .banner__item(data-aos="fade-up" data-aos-duration="1000") 
                a(href="").banner__link Лыжный туризм
            .banner__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100") 
                a(href="").banner__link Снегоступы
            .banner__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 
                a(href="").banner__link Параглайдинг