mixin socialLink(icon,link)
	li.socials__item
		a(href=link).socials__link
			+icon(icon, 'socials__icon')

ul.socials(data-aos="fade-left" data-aos-duration="1000")
	+socialLink('facebook', '#')
	+socialLink('telegram', '#')
	+socialLink('twitter', '#')
	+socialLink('youtube', '#')
