include newsItem
.news 
    .container.news__container
        include newsTitle
        .row 
            +newsItem('static/images/content/news-01.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '100')
            +newsItem('static/images/content/news-02.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '300')
            +newsItem('static/images/content/news-03.jpg', 'Откройте для себя швейцарские Альпы, где вас ждут приключения на открытом воздухе в течение всего года в сочетании с яркой культурой, а также прямой доступ к лыжным трассам.', '#', '500')